@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
  scrollbar-color: #9572fc transparent;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #9572fc;
  border-radius: 10px;
  border: 1px solid transparent;
}

.carousel-andrelinos {
  scrollbar-width: thin;
  scrollbar-color: #9572fc transparent;
}

.carousel-andrelinos::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}
